/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Merienda:wght@600&family=Noto+Sans+KR&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

body {
  font: 15px/1.8 'Noto Sans KR', sans-serif;
}

html, body {
  height: 100%;
}

#container {
  background-color: rgb(252, 252, 252);
  width: 700px;
  margin: auto;
  height: 100%;
}

#wrapper {

  width: 100%;
  padding: 100px;
  box-sizing: border-box;
}

img {
  width: 50%;
}

#logeheader {
  text-align: center;
  margin-bottom: 50px;
}


#loginWrap {
  height: 25px;
  width: 100%;
}

.lw input {
  width: 100%;
  height: 50px;
  font-size: 15px;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.submit {
  background-color: blue;
  color: white;
  cursor: pointer;
}

.stateLeft input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.stateLeft {
  float: left;
  color: rgb(131, 131, 131);
  font-size: 20px;
  display: flex;
  align-items: center;
}




.loginWrap2 {
  margin-top: 50px;
  text-align: center;
}


a {
  text-decoration: none;
  color: gray;
}

.loginWrap2 div a {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
  width: 25%;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.loginWrap2 div a:nth-child(1) {
  margin-right: 6%;
}

.loginWrap2 div a:nth-child(2) {
  margin-right: 6%;
}

.loginWrap2 h2 {
  margin-bottom: 5%;
  color: rgb(61, 61, 61);
}

.loginWrap2 div a:nth-child(1):hover {
  background-color: #03C75a;
  color: white;
}

.loginWrap2 div a:nth-child(2):hover {
  background-color: #4f2817;
  color: white;
}

.loginWrap2 div a:nth-child(3):hover {
  background-color: rgb(40, 88, 176);
  color: white;
}

.serchWrap {
  text-align: center;
  margin-bottom: 50px; 
}

.serchWrap a {
  margin: 0 10px;
  color: #444;
}

#footer {
  text-align: center;
  margin-top: 50px;
}

#footer img {
  width: 80px;
  height: 100%;
  vertical-align: middle;
}

.loginWrap {
  border-bottom: 1px solid #ccc;
  overflow: auto;
  padding-bottom: 20px;
}