.navbar-nav a {
  margin-left: 30px;
}

.navbar-nav a:hover {
  color: yellow;
  font-weight: bold;
}

.card-list {
  display: flex;
  margin: 10px;
  border-bottom: 1px solid rgb(209, 209, 209);
}

.card {
  margin: 10px;
}