* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {

  background-color: rgb(118, 118, 118);
  width: 1024px;
  margin: auto;
  height: 100%;
  border: 1px solid red;
 

}

.container-card-pcv {

  width: 100%;
  padding: 10px;
  box-sizing: border-box;
 
}

.content-row-pcv {

  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  height: 200px;

}



.box {
  padding: 1%;
  
}

.box-first {
width: 30%;
text-align: center;
}

.box-first img {
  max-width: 100%;
}



.boxOne {
  width: 40%;
  margin: 5px;
  max-height: 100%;
}

.boxOne h5 {
  margin-top: 10%;
  font-weight: bold;
  border-bottom: 1px solid lightgray ;
}

.laptop-info-tf {
  display: flex;
}

.laptop-info-tf p {
  font-weight: bold;
  
}


.laptop-info-tf-left p {
  color: red;
}


.laptop-info-tf-right p {
  color: blue;
}

.laptop-info-tf ul {
  display: block;

}

.laptop-info-tf ul li {
  list-style: decimal;
  font-size: 15%;
  
}


.laptop-spec-img {
  margin: 0px 0px 0px 20px;
  border: 1px solid lightgrey;
  height: 100%;
}

.laptop-spec-img img {
  height: 100%;
}


.laptop-spec-price {
  width: 10%;
  text-align: center;
  margin-left: 20px;
}

.laptop-info-button {
}

.laptop-info-button button {
  margin: 5px;
  
}

/*
.box-first {
  max-width: 150px;
  padding: 5px;
}

.box-first .box-title-text {
  text-align: center;
}

.box-first img {
  width: 100%;

}

.boxOne {
  max-width: 200px;
  width: 100%;
}

.boxTwo {
  display: flex;

}



.boxTwo .card-text-true {
  color: blue;
  font-size: large;
}


.boxTwo .card-text-false {
  color: red;
  font-size: large;
}

.box .box-nav-item {
  list-style-type: decimal;
}


.boxFive {
  width: 110px;
  text-align: center;
}



.boxSix {
  position: sticky;
  width: 15%;
}

.boxSix button {
  margin: 5px;
}